* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.header {
    background-color: purple;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 1.2rem;
}

.next-year {
    font-size: 3.5rem;
    font-weight: bold;
    color: purple;
    margin-bottom: 10px;
}

.counter {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    padding: 10px;
}

#days,
#hours,
#minutes,
#seconds {
    font-size: 3rem;
    font-weight: bold;
}